<div class="userindex" x-ng-app="profile-app" x-ng-controller="ProfileCtrl" >
	<div class="homenavigation">
		home potential messages

		<%= link_to "Sign Out", sessions_path, :method => :delete, class: "signoutlink" %>
	</div>
	
	<div class="small-6 large-2 columns" id="usersidebar">
			<div class="userpic">PHOTO</div>
			<br><br>


			hello, <%= current_user.name %>
			 <br>
			

			<% if current_user.profile %>
			<a ng-click="editProfile(profile);" class="btn btn-info">edit</a>


			<%= link_to 'EDIT', edit_profile_path(current_user) %>
			<br><br>
			Cleanliness: <%= current_user.profile.cleanliness %><br>
      		Noise Tolerance:<%= current_user.profile.noise_tolerance %><br>
      		Visitors:<%= current_user.profile.visitors %><br>
      		Pets:<%= current_user.profile.pets %><br>
      		Smoking:<%= current_user.profile.smoking %><br>
      		Sleeps at:<%= current_user.profile.sleeping_hours %><br>
      		Cooks:<%= current_user.profile.cooks %><br>
      		Lifestyle:<%= current_user.profile.lifestyle %><br>
        	Interests:<%= current_user.profile.interests %><br>
     		Notes:<%= current_user.profile.notes %><br>
			<% else %>
			<%= link_to 'Create Profile',  new_profile_path, class: "homelinks"%>
			<% end %>
	</div>

	
	<div class="small-6 large-7 columns" id="profilefeed">

			<% if current_user.profile %>
	
			<div class="profiles" ng-model="profiles" ng-repeat="p in profiles">
				<div class="profpicindex"></div>
				<span class="username">{{p.user.name}}</span>	<br>
				<span class="profdetails">{{p.user.age}}</span>	<br>
				<span class="profdetails">{{p.user.city}}, {{p.user.state}}</span>

				<br><br><br>
				<h1 class="proftitle">CLEANLINESS:
				<span class="profattributes">{{p.cleanliness}}</span><br></h1>

				<h1 class="proftitle">NOISE TOLERANCE: 
				<span class="profattributes">{{p.noise_tolerance}}<br></span>	</h1>
				
				<h1 class="proftitle">VISITORS:
				<span class="profattributes">{{p.visitors}}<br>	</span></h1>

				<h1 class="proftitle">QUIET HOURS:
				<span class="profattributes">{{p.pets}}<br></span>	</h1>
		
				<h1 class="proftitle">PETS:
				<span class="profattributes">{{p.pets}}<br></span>	</h1>

				<h1 class="proftitle">SMOKING:
				<span class="profattributes">{{p.smoking}}<br>	</span></h1>
			<div class="addtopotential" ng-click="savePotential(p)">click
		<% else %>
			<%= render 'profiles/form' %>
		<% end %>
					

			</div>


			</div>

	</div>

	<div class="small-6 large-2 columns" id="filtersidebar">
			<br><br><br>
			<STRONG>FILTERS</STRONG>
<div class="potentials" ng-model="potentials" ng-repeat="r in potentials"> 
			{{r.user_id}}




	</div>

	
	
</div>


		